body {
    background-color: #23a6d5;
    text-align: center;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #426AFE;
}

a:hover {
    color: #ff3981;
}

h1 {
    margin: 0 auto;
    font-size: 36px;
    width: 500px;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.navbar {
    margin: 0 auto;
    width: 700px;
    height: auto;
    vertical-align: middle;
    line-height: 35px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.navbar a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

.links {
    margin: 0 auto;
    width: 650px;
    height: 50px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.links img {
    padding: 10px 20px;
    width: 30;
    height: 30px;
}

#projects a {
    padding: 0 40px;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    line-height: 50px;
}

table, th, td {
	border: 1px solid #000;
}

td img {
    max-width: 300px;
    max-height: 76px;
}

/* 
    /index.html 
*/

#index-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#index-container .content img {
    float: left;
    padding: 25px;
    width: 200px;
    height: 200px;
}

#index-container .content p {
    padding: 0 25px 0 250px;
    text-align: left;
}

/* 
    /about.html 
*/

#about-container {
    margin: 0 auto;
    width: 700px;
    height: 260px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

/* 
    /videos.html
*/

#videos-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

/* 
    /contact.html 
*/

#contact-container {
    margin: 0 auto;
    width: 700px;
    height: 90px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

/* 
    /projects/index.html
*/

#projects-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

/* 
    /projects/saladsimulator/index.html
*/

#ss-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#ss-container .content img {
    float: left;
    padding: 25px;
    width: 200px;
    height: 200px;
}

#ss-container .content p {
    padding: 0 25px 0 250px;
    text-align: left;
}

/* 
    /projects/saladsimulator/old.html
*/

#oss-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#oss-container .content img {
    float: left;
    padding: 25px;
    width: 200px;
    height: 200px;
}

#oss-container .content p {
    padding: 0 25px 0 250px;
    text-align: left;
}

/* 
    /projects/saladclicker.html
*/

#sc-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#sc-container .content p {
    padding: 0 25px 0 25px;
    text-align: center;
}

#smc-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#smc-container .content p {
    padding: 0 25px 0 25px;
    text-align: center;
}