body {
    background-color: #23a6d5;
    text-align: center;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #f9005d;
}

a:hover {
    color: #ad0040;
}

h1 {
    margin: 0 auto;
    font-size: 36px;
    width: 500px;
    height: 60px;
    vertical-align: middle;
    line-height: 60px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.navbar {
    margin: 0 auto;
    width: 700px;
    height: 35px;
    vertical-align: middle;
    line-height: 35px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.navbar a {
    padding: 0 20px;
    text-decoration: none;
    font-size: 18px;
    color: #426AFE;
}

#current {
    color: #f9005d;
}

.links {
    margin: 0 auto;
    width: 650px;
    height: 50px;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

.links img {
    padding: 10px 20px;
    height: 30px;
}

#projects a {
    padding: 0 40px;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    line-height: 50px;
}

table, td {
    border: 1px solid #000;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    vertical-align: center;
}

.category-header {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

td img {
    max-width: 300px;
    max-height: 76px;
}

/* Specific page styles */

#projects-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#index-container,
#ss-container,
#oss-container,
#sc-container,
#smc-container,
#ff-container,
#off-container,
#about-container,
#videos-container,
#contact-container {
    margin: 0 auto;
    width: 700px;
    height: auto;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
}

#index-container .content img {
    float: left;
    padding: 25px;
    width: 200px;
    height: 200px;
}

#index-container .content p,
#sc-container .content p,
#smc-container .content p,
#ff-container .content p,
#off-container .content p {
    padding: 0 25px;
    text-align: left;
}

#oss-container .content p,
#ss-container .content p {
    padding: 0 25px 0 250px;
    text-align: left;
}

#ss-container .content img,
#oss-container .content img {
    float: left;
    padding: 25px;
    width: 200px;
    height: 200px;
}